@import url(menu.css);
@import url(banner.css);
@import url(imagenes.css);

body {
	font-family: 'Pacifico';
	}
header {
	width: 100%;
	height: 60px;
	background: #fff;
	color: #4188c4;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

/*Haches */

h1,h3,h2,p{
	color: #124670;
}

h1.s {
    font-size: 250%;
    float: left;
     }

h1.a {
	 width: 150%;
	 font-size: 150%;
     }

h1.c {
font-size: 50px;

      }

h1.nota  {
	font-size: 490%;
       }
h1.inicio{
font-size: 300%;

}
h4.busque{
	color: rgb(5, 0, 255);
}
/*fin de haches*/
/*imgs */

img.am{
	width: 234px;
	height: 160px;
	position: absolute;
	top: 7px;
	left: calc(69%);
}
img.rap{
	width: 234px;
	height: 160px;
	position: absolute;
	top: 7px;
	left: calc(3%);
}
	 img.hoja1 {
			 	width: 28%;
			 	height: 13%;
			 }
	img.icfes {
				width: 44%;
				height: 44%;
			 	margin: 30px 40px;
			}
	img.logo2 {
				width: 32%;
				height: 40%;

			}
			img.col {
				position: absolute;
				top: 3700px;
			}
			img {

	 	 	border-radius:none
	 	 	padding: none;
	 	     height: 49px;

	 	 }
		 img.c{
	 		width: 100%;
	 		height: 100%;
	 	}

/*fin de imgs*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a.vl{
	width: 100px;
	height: 100px;
	text-decoration: none;
	color: #000;
  font-size: 290%;

}
a.vl:hover{
 color: rgba(27, 166, 196, 0.64);

}
a.emp:hover{
 color: rgb(125, 156, 146);

}

#getbetter{
     font-size: 37px;

}

/*Aqui empiezan sections, divs,headers y navs*/
.contenedor{
	width: 80%;
	margin: auto;
}
header.contenedor {
   display:table;
 }
 section {
 	width: 100%;
 	margin-bottom: 25px;
 }
div.a {
  width: 680px;
	height: 173px;
  padding: 10px;
  border: 2px;
  margin: 3px 4px;
  background-color: white;


      }
			div.a2 {
			  width: 496px;
				height: 335px;
			  padding: 10px;
			  border: 2px;
			  margin: 3px 4px;
			  background-color: white;


			      }
						div.a3 {
							width: 526px;
							height: 200px;
							padding: 5px;
							border: 2px;
							margin: 3px 4px;
							background-color: rgba(146, 204, 212, 0.77);
							border-radius: 30px;



									}

									div.a4 {
									  width: 496px;
										height: 160px;
									  padding: 10px;
									  border: 2px;
									  margin: 3px 4px;
									  background-color: white;


									      }

			div.al {
			  width: 514px;
			  padding: 10px;
			  border: 2px;
			  margin: 0;
			  background-color: rgba(159, 216, 218, 0.88);

			      }
						div.al2 {
							width: 514px;
							padding: 10px;
							border: 2px;
							margin: 0;
							background-color: rgba(226, 225, 168, 0.81);
							position: absolute;
							left: calc(60%);
							top:357px;


									}
div.ventanapub{
width: 550px;
height: 440px;
margin: 2px 3px;
padding: 14px;
position: absolute;
top: 123px;
left: calc(31% );
background-color: rgba(4, 57, 217, 0.84);
display: none;


}
div.ventanapub2{
width: 560px;
height: 400px;
margin: 2px 3px;
padding: 14px;
position: absolute;
top: 120px;
left: calc(31% );
background-color: rgba(202, 226, 12, 0.8);
display: none;


}

div.p2 {
	width: 80%;
	height:80%;
}
div.imgs2 {
	width: 600px
	height:800px;
	text-align: center;
}
div.contenedor {
	height: 80%
	width: 80%;
}
div.nos{
	background-color: #b5fff5;
	width: 104%;
	height: 80%;

}

}
div.segundapagina {
 background-color: #b2ffff;
}
div.sui {
 width: 50%;
 height: 60%;
 position: absolute;
 left: calc(49% - 60px);
 top: 1600px;

}
div.reg {
width: 360px;
padding: 10px;
border: 0px solid black;
margin: 31px;
height: 438px;
background-color: white;


}

 section {
 	width: 100%;
 	margin-bottom: 25px;
 	height: 200%;
 }
 section.primerpagina{
 	background-color: #b5ffff;
 	width: 92%;
 	height: 95%;

 }

td {
	text-align: left;
}

a.r {
	width: 100px;
	height: 100px;
	text-decoration: none;
	color: #000;

}
button.r {
	width: 160px;
	height: 48px;
	background-color: #b2ffff;
	font-size: 15px;
	font-weight: bold;
	color: #124670;


}

button.r:hover {
	background-color: rgba(0,0,0,0.1);
}

.contenedo{
	width: 92%;
	position: relative;
	height: 720px;
}

.botones{
	font-size: 30px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	font-weight: bold;
	position: absolute;
	color: #fff;
	box-shadow: 0 0 10px rgba(255,255,255,.6);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.botones:hover{
	cursor: pointer;
	transform: rgb(17, 219, 246);
}
.atras{
	left: 2%;
	top: calc(52% - 70px);
	width: 55px;
	height: 44px;
}
.adelante{
	right: 2%;
	top: calc(52% - 70px);
	width: 55px;
	height: 44px;
	color: red;
}

nav.pie {
  width: 100%;
	height: 300px;
	background-color: rgb(208, 221, 223);
	position: absolute;
	top: 4000px;
	border-color: rgb(33, 67, 102);
	border: 4px;


}
nav.tuto {

position: absolute;
width: 581px;
height: 264px;
background-color: white;
top: 90px;
left: calc(35%);
border-radius: 39px;
border: 2px solid blue;
display: none;
font-size: 120%;
padding: 27px;
margin: 11px 11px;
text-align: left;

}

.lpie {

	font-family: 'Pacifico',cursive;
}


::-webkit-input-placeholder { /* Edge */
color: darkcyan;

}

:-ms-input-placeholder { /* Internet Explorer */
color: darkcyan;

}

::placeholder {
color:darkcyan;

}


nav.cal{
	width: 888px;
	height: 1292px;
	background-color: white;
	position: absolute;
	top: 70px;
	left: calc(40% - 248px);
	border: 2px solid black;
	border-color: black;
	margin: 6px 1px;
	padding: 8px;

}



button.video{
  width: 160px;
	height: 98px;


}
a.s{
		font-size: 180%;

}

/*aqui empiezan SOLO inputs*/

input[type=text] {
 width: 88%;
padding: 7px 0px;
margin: 6px 5px;
box-sizing: border-box;
border: none;
border-bottom: 2px solid blue;


}
input[type=email] {
 width: 88%;
padding: 7px 0px;
margin: 6px 5px;
box-sizing: border-box;
border: none;
border-bottom: 2px solid blue;


}
.context{

width: 59%;
height: 394px;
padding: 3px 0px;
margin: 2px 1px;
border: 2px solid blue;

}
.pregunta{

	width: 79%;
	height: 194px;
	padding: 3px 0px;
	margin: 2px 1px;
	border: 2px solid blue;


}
.opciones{

	width: 69%;
	height: 120px;
	padding: 3px 0px;
	margin: 2px 1px;
	border: 2px solid blue;


}
input[type=password] {
 width: 88%;
padding: 7px 0px;
margin: 6px 5px;
box-sizing: border-box;
border: none;
border-bottom: 2px solid blue;


}

/*botones tipo file */
input[type=file] {

width: 260px;
height: 30px;
padding: 3px 0px;
margin: 2px 1px;
border: 2px solid blue;

/*aqui terminan los botones tipo file */



}
/*Botones de enviar   */
input.sf[type=submit] {

width: 30%;
height: 40px;
padding: 4px 0px;
margin: 3px 0;
border: none;
background-color: rgb(98, 10, 241);
font-size: 20px;
border-radius: 20px;
color: rgb(22, 241, 241);


}
input.sf:hover[type=submit] {
	background-color: rgba(92, 15, 235, 0.42);

}
input.sf2[type=submit] {

width: 25%;
height: 20px;
padding: 0px 0px;
margin: 0px 0;
border: none;
background-color: rgb(98, 10, 241);
font-size: 14px;
border-radius: 20px;
color: rgb(22, 241, 241);


}
input.sf2:hover[type=submit] {
	background-color: rgba(92, 15, 235, 0.42);

}
input.sf3[type=submit] {

width: 75%;
height: 40px;
padding: 5px 0px;
margin: 3px 0;
border: none;
background-color: rgb(98, 10, 241);
font-size: 16px;
border-radius: 20px;
color: rgb(22, 241, 241);


}
input.sf3:hover[type=submit] {
	background-color: rgba(92, 15, 235, 0.42);

}
input.misc[type=submit] {

width: 100%;
height: 30px;
padding: 4px 0px;
margin: 3px 0;
border: none;
background-color:rgba(41, 134, 140, 0.65);
font-size: 13px;
border-radius: 20px;
color: rgb(7, 1, 9);


}
input.misc:hover[type=submit] {
	background-color: rgba(189, 211, 217, 0.76);

}

.i{
	width: 74%;
	padding: 16px 0px;
	margin: 4px 0;
	box-sizing: border-box;
	border: none;
	background-color: white;
	font-size: 'Pacifico';
	font-weight: bold;
	color: #124670;
	decoration: none;
	top: 670px;
	font-size: 17px;
	border-radius: 20px;


}
.i2{

	padding: 16px 0px;
	margin: 4px 0;
	box-sizing: border-box;
	border: none;
	background-color: rgba(174, 221, 227, 0.83);
	font-size: 'Pacifico';
	font-weight: bold;
	color: #124670;
	decoration: none;
	top: 670px;
	font-size: 17px;
	border-radius: 20px;


}

.i2:hover{
 background-color: rgba(172, 205, 222, 0.91);


}
.i:hover{
background-color: rgba(170, 239, 244, 0.74);

}
input.b1[type=submit] {
width: 210px;
padding: 10px 0px;
margin: 6px 0;
border: none;
background-color: lightblue;
font-size: 17px;
border-radius: 20px;
color: blue;


}
input.b[type=submit] {
width: 110px;
padding: 10px 0px;
margin: 6px 0;
border: none;
background-color: lightblue;
font-size: 17px;
border-radius: 20px;
color: blue;
top:


}

/* aqui terminan los botones de enviar */

/*aqui terminan los inputs*/

/* aqui empiezan SOLO @medias */

@media(max-width: 830px) {
	.atras{
		width: 50px;
		height: 42px;
        left: 2%;
	    top: calc(55% - 50px);

	}
    .adelante{
		width: 50px;
		height: 42px;
        right: 2%;
	    top: calc(55% - 50px);
	}

     #getbetter{
     	font-size: 21px;

     }
     .contenedo{
	width: 86%;
	position: relative;
	height: 350px;
}

    #leermas{
    	width: 40%;
    	height: 32px;
    }

	}
	@media (min-width: 1024px){
		.contenedor{
			width: 1160px;
		}
	}

/*aqui terminan las medias*/
