
     

     h2{font-family: 'Pacifico' , 'cursive';

   }

     h2,h4{font-family: 'Pacifico';

     margin: 25px;
      color: blue;


     }



    
    div.reg {
  width: 350px;
  padding: 2px;
  width: 360px;
  padding: 10px;
  border: 0px solid black;
  margin: 0;
  height: 340px;
  background-color: white;
 



}
           

img.l {
  width: 10%;
  height: auto;
  padding: 9px;
  border-radius:30%;
  position: absolute;
  top: 19px;
  left: calc(50% - 78px);
  margin: 2px;
 



}


  ::-webkit-input-placeholder { /* Edge */
  color: darkcyan;
  font-size: 15PX;

}

:-ms-input-placeholder { /* Internet Explorer */
  color: darkcyan;

}

::placeholder {
  color:darkcyan;

}
input[type=text] {
  width: 88%;
  width: 96%;
  padding: 12px 0px;
  margin: 6px -15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blue;


}
input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  background-color: lightblue;
  font-size: 17px;
  border-radius: 20px;
  color: blue;


}
input[type=password] {
  width: 88%;
  padding: 12px 0px;
  margin: 6px -15px;
  width: 96%;
  padding: 12px 0px;
  margin: 7px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blue;


}


@media(max-width: 800px) {
      body{
        background:transparent;
      }
}



  











           


